@import url('fonts.css');

html { 
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: 100%;
    /* Prevent font scaling in landscape */
}
article, aside, details,
figcaption, figure, footer,
header, hgroup, main, menu,
nav, section, summary {
    display: block;
}
ul, li, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}
html, body{
    height: 100%;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
   margin: 0;
   padding: 0;
}
*, :after, :before {
    box-sizing: border-box;
}

a{cursor: pointer;}
a, a:visited{     
    text-decoration: none;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    cursor: pointer;
}
a:focus{
    outline: none;
}
a:hover { text-decoration:none;}
b, strong {
    font-weight: normal;
    font-family: 'med';
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
body {
    margin: 0; padding: 0;
    font-family:  'regular';
    height: initial;
    position: relative;
    font-size: 24px;
    line-height: 1em;
    color: #181c1e;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}
input, button,
select, textarea {
    color: #000;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: none;
    outline: none;
    padding: 0 15px;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #555;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #555;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #555;
}
:-moz-placeholder { /* Firefox 18- */
    color: #555;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
h1, h2{
    font-weight: normal;
    font-family: 'bold'; 
}
h3{
    font-weight: normal;
    font-family: 'med';
}
h1, h2, h3, p,
fieldset{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 44px;
    line-height: 0.85em;
}
table{
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
}
.hide {
    display: none;
}
main{
    padding-bottom: 80px;
    min-height: 100vh;
    position: relative;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
[class^="btn-"], [class*=" btn-"],
input[type="submit"], input[type="button"],
.box-btn a{
    display: inline-block;
    border-radius: 20px;
    color: #fff;
    padding: 0 15px;
    height: 36px;
    line-height: 36px;
    font-family: "bold";
    width: 180px;
    cursor: pointer;
}
[class^="btn-"]:hover, [class*=" btn-"]:hover,
input[type="submit"]:hover, .box-btn a:hover,
input[type="button"]:hover, .nav-member li > a:hover{
    -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.45);
    box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.45);
}
.page-landing{
    background: #e4e6ec url(../img/bg.jpg) no-repeat center top / 100%;
}
.page-landing-blur:before {
    content: '';
    background: rgba(255, 255, 255, .8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.page-landing main .container{
    padding-top: 120px;
}
.page-landing main .container > h1{
    color: #e02122;
    text-align: center;
    font-family: "med";
}

/* header */
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 68px;
    background: rgba(129, 138, 157, 0.9);
    padding: 16px 0;
    color: #fff;
    z-index: 9;
    -webkit-transition: height 0.4s ease-out;
    -moz-transition: height 0.4s ease-out;
    -o-transition: height 0.4s ease-out;
    -ms-transition: height 0.4s ease-out;
    transition: height 0.4s ease-out;
}
.open .header{
    height: 100vh;
}
.toggle{
    display: none;
    width: 40px;
    height: 30px;
    padding: 9px 5px;
    float: left;
    margin-right: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.toggle span:after,
.toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
}
.toggle span:after{
    top: 8px;
}
.toggle span {
    position: relative;
    display: block;
    margin-top: 4px;
}
.toggle span,
.toggle span:after,
.toggle span:before {
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s;
    backface-visibility: hidden;
}
.open .toggle span {
    background-color: transparent;
}
.open .toggle span:before {
    transform: rotate(45deg) translate(4px,5px);
    -webkit-transform: rotate(45deg) translate(4px,5px);
    -ms-transform: rotate(45deg) translate(4px,5px);
    -moz-transform: rotate(45deg) translate(4px,5px);
    -o-transform: rotate(45deg) translate(4px,5px);
}
.open .toggle span:after {
    transform: rotate(-45deg) translate(7px,-8px);
    -webkit-transform: rotate(-45deg) translate(7px,-8px);
    -ms-transform: rotate(-45deg) translate(7px,-8px);
    -moz-transform: rotate(-45deg) translate(7px,-8px);
    -o-transform: rotate(-45deg) translate(7px,-8px);
}
.header .logo{
    width: 120px;
    display: inline-block;
    margin-right: 20px;
}
.header li{
    padding: 5px 2px;
    display: inline-block;
}
.header li a{
    padding: 3px 3px;
}
.header li img{
    width: 124px;
    height: auto;
}
.header a{
    font-family: "med";
    font-size: 20px;
    line-height: 0.9em;
    display: block;
    color: #fff;
}
.header a:hover{
    color: #e02122;
}
.header nav{
    display: inline-block;
}
.header .nav-member{
    float: right;    
}
.header .nav-member a{
    font-family: "bold";
}
.nav-member li{
    padding: 0;
}
.nav-member li.box-login{
    padding-right: 5px;
}
.nav-member li > a,
.nav-member li.box-login span,
.btn-fb{
    border-radius: 20px;
    background: #4f6aa5;
    color: #fff;
    padding: 0 25px;
    height: 36px;
    line-height: 36px;
    display: block;
}
.nav-member li.box-login + li > a:hover{
    color: #fff;
}
.nav-member .box-login > a,
.nav-member li.box-login span{
    background: #fff;
    color: #4f6aa5;
}
.nav-member li.box-login span{
    width: 160px;
    padding: 0 15px;
}
.header li.box-login span a{
    display: inline-block;
    color: #4f6aa5;
    width: 110px;
    overflow: hidden;
    height: 24px;
    margin: 6px 0;
    vertical-align: middle;
}
.header li.box-login span .user{
    padding: 5px;
    color: #4f6aa5;
    float: right;
    margin: 2px -10px 0 0;    
    width: 30px;
}
#login-fb{
    text-align: center;
}
.btn-fb{
    border-radius: 0;
    display: block;
    margin: 20px auto;
    width: 250px;
    padding: 0 2px;
    text-align: center;
}
.btn-fb + a{
    color: #333;
    display: inline-block;
    font-family: "med";
}
.btn-fb:before{
    float: left;
    font-size: 1.2em;
}
.nav-member li > a:before,
.btn-fb:before{
    display: inline-block;
    content: "\e900";
    font-family: 'icomoon';
    vertical-align: middle;
    font-size: 0.85em;
}
.nav-member li.box-login .user:after{
    display: inline-block;
    content: "\e900";
    font-family: 'icomoon';
    vertical-align: middle;
    content: "\e902";
}
.logo-tripetch{
    width: 158px;
    position: absolute;
    bottom: 30px;
    right: 20px;
    z-index: 2;
}


/* popup register */
.popup-register,
.popup-alert,
.popup-gallery{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 22;
  top: 0;
  left: 0;
    display: none;
}
.mesk{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: rgba(255,255,255,0.6);
}
.popup-register .popup > div{
    display: none;
}
.popup-register .popup > .active{
    display: block;
}
.popup{
    padding: 25px;
    width: 450px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}
.popup-alert .popup{
    width: 450px;
}
.popup form{
    font-size: 0.85em;
    margin-top: 15px;
}
.popup label{
    margin-bottom: 15px;
    line-height: 1.2em;
    display: block;
}
.popup strong{
    font-size: 26px;
    font-family: "bold";
    text-align: center;
    display: block;
}
.popup label input[type="email"],
.popup label input[type="text"],
.popup label input[type="tel"]{
    width: 100%;
    background: #e5e7ec;
    color: #333;
    border-radius: 5px;
    display: block;
    line-height: 40px;
    height: 40px;
    padding: 0 20px;
}
.popup .label-checkbox{
    overflow: hidden;
    padding-top: 10px;
    margin-top: 7px;
    border-top: 1px solid #ccc;
}
.popup .label-checkbox input[type="checkbox"]{
    display: none;
}
.popup  .label-checkbox input[type="checkbox"] + span{
    width: 26px;
    height: 26px;
    border-radius: 5px;
    background: #e5e7ec;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: 5px;
    color: #333;
    cursor: pointer;
}
.popup .label-checkbox input[type="checkbox"]:checked + span:before{
    content: "\ea10"; 
    font-family: 'icomoon';
    display: inline-block;
    font-size: 22px;
}
.popup .label-checkbox p{  
    display: inline-block;
    cursor: pointer;
    width: calc(100% - 37px);
    vertical-align: top;
}
.popup .label-checkbox a{
    display: inline-table;
    line-height: 0.8em;
    color: #2d61a8;
    border-bottom: 1px solid #2d61a8;
}
.popup .label-checkbox + a{
    color: #000;
    font-family: "med";
    margin-top: 5px;
    display: inline-block;
}
.popup input[type="submit"]{
    display: block;
    float: right;
    font-size: 24px;
    border-radius: 20px;
    background: #e02122;
    color: #fff;
    padding: 0 15px;
    height: 36px;
    line-height: 36px;
    font-family: "bold";
    width: 180px;
}
.aleat-regis{
    color: #e02122;
    width: 100%;
    line-height: 0.9em;
    font-family: "med";
    display: block;
    margin: 15px 0 0;
}
.popup .remark{
    display: block;
    font-size: 0.95em;
    padding-left: 3.2em;
    text-indent: -3.2em;
    margin-top: -10px;
}
.popup .btn-close,
.btn-close{
    width: 40px !important;
    line-height: 30px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 0;
    font-family: 'icomoon';
    color: #000;
    text-align: center;
}
.btn-close:before{
    content: "\e902";
}
.btn-close:hover,
.popup .label-checkbox + a:hover{
    color: #e02122;
}
.btn-close:hover{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.popup-alert .popup{
    display: none;
}
.popup-alert p{
    font-family: "med";
    text-align: center;
    color: #000;
    font-size: 26px;
    line-height: 1.2em;
}
.popup-alert b{
    color: #e02122;
    display: block;
}
.popup-alert span{
    color: #e02122;
}
.box-link{
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #ccc;
}
.box-link a:last-child{
    color: #000;
    margin: 10px auto 0;
    width: 170px;
    display: block;
}
.edit{
    font-size: 20px;
    font-family: "med";
    color: #333;
}
.btn-upload-more{
    display: block;
    color: #fff;
    background: #e02122;
    margin: 30px auto 10px;
}
.box-link a:last-child:hover{
    color: #e02122;
}


/* preload */
.open-load{
    height: 100%;
    overflow: hidden;
}
.preload{
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 555;
    background: rgba(255,255,255,0.8);
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.open-load .preload{
    opacity: 1;
    visibility: visible;
}
.uil-ring-css {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    width: 200px;
    height: 200px;
    opacity: 0;
    -webkit-transition: all 0.4s ease-out 0.2s;
    -moz-transition: all 0.4s ease-out 0.2s;
    -o-transition: all 0.4s ease-out 0.2s;
    -ms-transition: all 0.4s ease-out 0.2s;
    transition: all 0.4s ease-out 0.2s;
    -ms-transform: scale(0.6); /* IE 9 */
    -webkit-transform: scale(0.6); /* Safari */
    transform: scale(0.6);
}
.open-load .uil-ring-css {
    opacity: 1;
}
.uil-ring-css > .ring {
    position: absolute;
    display: block;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 80px;
    box-shadow: 0 3px 0 0 #e02122;
    -webkit-transform-origin: 80px 81.5px;
    transform-origin: 80px 81.5px;
    -webkit-animation: uil-ring-anim 1s linear infinite;
    animation: uil-ring-anim 1s linear infinite;
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes uil-ring-anim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-ring-anim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (min-width:0\0) {

}