@font-face {
    font-family: 'bold';
    src: url('../fonts/psl245pro-webfont.eot');
    src: url('../fonts/psl245pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/psl245pro-webfont.woff2') format('woff2'),
         url('../fonts/psl245pro-webfont.woff') format('woff'),
         url('../fonts/psl245pro-webfont.ttf') format('truetype'),
         url('../fonts/psl245pro-webfont.svg#kittithada_bold_65regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'med';
    src: url('../fonts/psl244pro-webfont.eot');
    src: url('../fonts/psl244pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/psl244pro-webfont.woff2') format('woff2'),
         url('../fonts/psl244pro-webfont.woff') format('woff'),
         url('../fonts/psl244pro-webfont.ttf') format('truetype'),
         url('../fonts/psl244pro-webfont.svg#kittithada_medium_65regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'regular';
    src: url('../fonts/psl242pro-webfont.eot');
    src: url('../fonts/psl242pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/psl242pro-webfont.woff2') format('woff2'),
         url('../fonts/psl242pro-webfont.woff') format('woff'),
         url('../fonts/psl242pro-webfont.ttf') format('truetype'),
         url('../fonts/psl242pro-webfont.svg#kittithada_roman_55regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?oxflmd');
  src:  url('../fonts/icomoon.eot?oxflmd#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?oxflmd') format('truetype'),
    url('../fonts/icomoon.woff?oxflmd') format('woff'),
    url('../fonts/icomoon.svg?oxflmd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-i-down:before {
  content: "\e903";
}
.icon-i-next:before {
  content: "\e904";
}
.icon-i-vote:before {
  content: "\e901";
}
.icon-i-close:before {
  content: "\e902";
}
.icon-user:before {
  content: "\f007";
}
.icon-i-fb:before {
  content: "\e900";
}
.icon-checkmark:before {
  content: "\ea10";
}