.gallery {
    max-width: 1366px;
    margin: auto;
    position: relative;
    z-index: 1;
}

/*
Header
*/

.header-gallery{
  color: #e02122;
  text-align: center;
  font-family: "med";
    padding-top: 120px;
}
.header-gallery + h2{
    margin: 10px 0;
    text-align: center;
    font-size: 26px;
    line-height: 1em;
    font-family: "med";
}
/*
Form
*/
.gallery-form {
    margin: -7px 0 0;
}
.gallery-form:before,
.gallery-form:after {
    content: '';
    display: table;
    width: 100%;
}

/* item */
.gallery-form-item {
    border-radius: 50px;
    background: #fff;
    position: relative;
    font-size: 19px;
    float: left;
    margin: 0 0 15px;
}
.gallery-form-item > select,
.gallery-form-item  input[type="search"] {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    height: 32px;
    line-height: 32px;
    background: none;
    border: 0;
    padding: 0 38px 0 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.gallery-form-item  input[type="submit"]{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 1px;
    z-index: 2;
    background: transparent; 
    font-size: 22px; 
    font-family: 'icomoon';
    color: #333;
    padding: 0 5px;
    line-height: 30px;
}
.gallery-form-item  input[type="submit"]:hover{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.gallery-form-item > select::-ms-expand {
    display: none;
}

/* search */
.gallery-form-item + .gallery-form-item {
    float: right;
}
.gallery-form-item + .gallery-form-item:after {
    background-image: url(../img/gallery/go.png);
}
/* Content */
.gallery-item-content {
    margin: 10px 5px 3px;
    line-height: 26px;
    font-size: 21px;
    text-align: right;
    font-family: "med";
}
.gallery-item-content h1 {
    font-size: 21px;
    line-height: 26px;
    height: 26px;
    font-family: "med";
    text-align: left;
    overflow: hidden;
    float: left;
    width: calc(100% - 140px);
}
.gallery-item-content p {
    color: #ed1c24;
    display: inline-block;
    margin: 0 10px;
}
.btn-vote {
    font-size: 20px;
    line-height: 25px;
    height: 26px;
    width: 74px;
    padding: 0 5px;
    background: #e02122;
    float: right;
    font-family: "med";
}
.btn-vote:before{
    font-family: 'icomoon';
    display: inline-block;
    content: "\e901";
    font-size: 16px;
    padding-right: 5px;
    vertical-align: middle;
}
.btn-view-more{
    margin: 35px auto;
    display: block;
    background: #e02122;
    text-align: center;
}
.btn-view-more:after{
    content: "\e903";
    font-family: 'icomoon';
    margin-left: -15px;
    display: block;
    float: right;
}


/*
Layout
*/

.gallery-layout {
    margin: 0 -15px;
}
.gallery-layout .link-gallery {
    padding: 0 15px;
    display: block;
}
.item-announced h1{
    color: #e02122;
    font-size: 36px;
    padding: 20px 25px;
    margin: 0 auto;
}
.item-announced h1 span{
    display: inline-block;
    padding-left: 10px;
    border-left: 1px solid #555;
    color: #555;
    font-size: 0.7em;
    line-height: 0.7em;
}
/*
Item
*/
.gallery-item {
    background: #fff;
    padding: 6px;
    margin: 0 0 45px;
    box-shadow: 0 0 29px rgba(159, 165, 178, .9);

}

/* Image */
.gallery-item-img {
    display: block;
    height: 0;
    padding-bottom: 66%;
    position: relative;
}

.gallery-item-img img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

/* profile */
.profile-action{
    margin: 30px 0;
    padding: 0 10px;
    overflow: hidden;
}
.profile-action > p{
    float: left;
    font-size: 22px;
    margin-top: 15px;
}
.profile-action > p br{
    display: none;
}
.profile-action .status{
    float: right;
    font-family: "med";
}
.profile-action .status a{
    background: #e02122;
    text-align: center;
    float: right;
    margin-top: 5px;
}
.box-item{
    width: 980px;
    padding: 25px;
    position: relative;
    background: #fff;
    margin: 0 auto 30px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);
}

/*popup gallery*/
.popup-gallery .popup{
    width: 980px;
    padding: 25px;
    position: relative;
    display: none;
}
.box-img{
    width: 660px;
    height: 440px;
    position: relative;
}
.box-img img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.dt-caption{
    width: 100%;
    padding: 40px 0;
    position: relative;
    margin: 15px 0;
}
.dt-caption:before,
.dt-caption:after{
    color: #ced6e3;
    height: 50px;
    line-height: 90px;
    font-size: 130px;
    font-family: "bold";
    display: block;
    z-index: 1;
    position: absolute;
    left: 0;
    overflow: hidden;
}
.dt-caption:before{
    top: 0;
    content: '“';
}
.dt-caption:after{
    bottom: 0;
    content: '”';
}
.dt-caption > p{
    padding: 20px 0;
    font-family: "med";
    line-height: 1em;
    word-wrap: break-word;
}
.box-text{
    position: absolute;
    top: 0;
    right: 30px;
    width: 250px;
    height: 390px;
}
.box-text > p {
    color: #555;
    font-family: "med";
    font-size: 20px;
    line-height: 1em;
    z-index: 0;
}
.box-text > p span{
    display: block;
    font-size: 24px;
    color: #000;
    word-wrap: break-word;
}
.box-action{
    width: 250px;
    height: 57px;
    position: absolute;
    right: 25px;
    bottom: 30px;
    z-index: 1;
}
.box-action .data{
    width: 100%;
    line-height: 20px;
    margin-top: 10px;
    float: left;
    font-size: 18px;
    border-top: 1px solid #ccc;
}
.box-action .data p{
    color: #666;
    font-family: "med";
    padding: 0;
}
.box-action .data p:last-child{
    float: right;
}
.item-announced .box-action{
    height: 70px;
}
.box-action .btn-vote{
    float: left;
}
.box-action p{
    float: left;
    color: #e02122;
    font-family: "bold";
    padding-left: 10px;
    line-height: 26px;
}
.box-action b{
    font-size: 20px;
    line-height: 1em;
    float: left;
}
.box-action b span{
    display: block;
    color: #e02122;
    font-family: "bold";
    font-size: 1.9em;
}
.box-action .btn-share{
    float: right;
    width: 74px;
    line-height: 25px;
    height: 26px;
    padding: 0 5px;
    font-size: 20px;
    text-align: center;
    font-family: "med";
    background: #9eadc7;
}
.item-announced .btn-share{
    margin-top: 15px;
}
.btn-share:before {
    display: inline-block;
    content: "\e900";
    font-family: 'icomoon';
    vertical-align: middle;
    font-size: 0.85em;
}
#thk{
    text-align: center;
    width: 450px;
}
#thk p{
    font-family: "med";
    text-align: center;
    color: #000;
    font-size: 26px;
    line-height: 1.2em;
}
#thk b{
    display: block;
    color: #e02122;
}
#thk .btn-share{
    background: #4f6aa5; 
    margin-top: 20px;
    line-height: 35px;
}
.empty-msg {
    text-align: center;
}
.btn-del{
    background: #e02122;
    margin: 10px auto 0;
    display: block;
    text-align: center;
}

@media (max-width: 1600px) {
    .inner-content-wrapper {
        background-size: auto;
    }
}

@media (max-width: 1440px) {
    .gallery{
        padding-left: 30px;
        padding-right: 30px;
    }
    .gallery-layout .link-gallery {
        padding: 0 7px;
    }
}

@media (max-width: 1100px) {
    .box-item,
    .popup-gallery .popup{
        width: 730px;
        padding: 20px;
    }
    .item-announced h1{
        width: 730px;
        padding: 20px 0;
    }
    .box-img {
        width: 450px;
        height: 300px;
    }
    .box-text{
        width: 220px;
        height: 275px;
        right: 20px;
    }
    .dt-caption{
        top: 10px;
        -webkit-transform: translate(0,0);
        -moz-transform: translate(0,0);
        -ms-transform: translate(0,0);
        transform: translate(0,0);
    }    
    .dt-caption:before, .dt-caption:after {
        font-size: 110px;
        line-height: 78px;
    }
    .dt-caption > p{
        padding: 10px 0;
    }
    .box-action{
        width: 220px;
        right: 20px;
        bottom: 20px;
    }
    .box-text > p {
        font-size: 18px;
    }
    .profile-action {
        width: 730px;
        margin: 30px auto;
    }
}

@media (max-width: 768px) {
    .gallery-item {
        box-shadow: 0 0 29px rgba(159, 165, 178, .5);
    }
    .gallery-item {
        margin: 0 0 30px;
    }
}

@media (max-width: 760px) {
    .gallery-form {
        margin: 15px 0 30px;
    }

    .gallery-form-item,
    .gallery-form-item + .gallery-form-item {
        float: none;
        box-shadow: 0 0 2px rgba(159, 165, 178, .9);
    }
    .popup-gallery .popup,
    .box-item{
        width: 90%;
    }
    .item-announced h1{
        width: 90%;
    }
    .profile-action{
        width: 100%;
    }
    .box-img{
        width: 100%;
        height: 0;
        right: initial;
        padding-bottom: 66%;
        margin-bottom: 10px;
    }
    .box-text, .box-action {
        width: 100%;
        height: auto;
        right: initial;
        position: relative;
    }
    .dt-caption {
        margin: 0;
        top: 0;
        left: 0;
        position: relative;
        -webkit-transform: translate(0,0);
        -moz-transform: translate(0,0);
        -ms-transform: translate(0,0);
        transform: translate(0,0);
    }
    .box-text > p{
        position: relative;
    }
    .box-action {
        bottom: initial;
        margin-top: 15px;
        overflow: hidden;
    }
    .profile-action > p,
    .profile-action .status{
        width: 100%;
        text-align: center;
        float: none;
    }
    .profile-action > p{
        margin: 0 0 30px
    }
    .profile-action .status a{
        float: none;
    }
}

@media (max-width: 600px) {
    .header-gallery {
        padding-top: 90px;
    }
    .gallery-item-img {
        height: auto;
        line-height: 1;
    }
    .gallery-form {
        margin: 15px 0;
    }
}

@media (max-width: 568px) {
    .popup-gallery .popup,
    #thk{
        width: calc(100% - 40px);
        padding: 10px;
    }
    .header-gallery + h2 {
        font-size: 24px;
    }
}

@media (max-width: 380px) {
    .gallery {
        padding-left: 25px;
        padding-right: 25px;
    }
    .item-announced h1 span{
        padding: 10px 0 0;
        display: block;
        border-left: none;
    }
    .profile-action {
        margin: 20px auto;
    }
    .profile-action > p{
        margin-bottom: 20px;
    }
    .profile-action > p br{
        display: block;
    }
}
@media (min-width: 640px) {

    .gallery-layout:before,
    .gallery-layout:after {
        content: '';
        display: table;
        width: 100%;
    }

    .gallery-layout .link-gallery {
        width: 50%;
        float: left;
    }
}

@media (min-width: 1100px) {
    .gallery-layout .link-gallery {
        width: 25%;
    }
}



































