/* home */
.page-home{
	width: 100%;
	height: 100vh;
    overflow: hidden;
	background: url(../img/bg-home.jpg) center;
	background-size: cover;
}
.page-home .center{
	width: 820px;
}
.page-home .center > img{
	margin: 3% 0 -5%;
	display: block;
	width: 100%;
}
.title-txt{
	width: 100%;
	overflow: hidden;
	padding-bottom: 20px;
	margin-bottom: 10px;
	border-bottom: 2px dashed #888;
}
.title-txt img{
	float: left;
	margin-right: 20px;
}
.title-txt h1{
	margin-top: 0.6em;
	color: #0089cf;
	font-size: 60px;
}
.title-txt h2{
	line-height: 0.8em;
	font-size: 37px;
}
.title-txt p {
	margin-top: 5px;
	line-height: 1.4em;
	font-size: 1.05em;
	font-family: "med";
}
.title-txt p span{
	font-size: 50px;
	color: #e02122;
	display: block;
	font-family: "bold";
}
.title-txt h2 br,
.title-txt p span br,
.box-btn li br{
	display: none;
}
.title-detail,
.box-btn{
	overflow: hidden;
}
.title-detail p{
	float: left;
}
.title-detail p:first-child{
	width: 74%;
	padding-right: 20px;
	font-size: 0.9em;
}
.title-detail p:first-child b{
	font-family: "med";
	font-size: 1.2em;
	display: block;
}
.title-detail p:first-child span{
	color: #e02122;
}
.title-detail p:last-child{
	width: 26%;
	color: #0089cf;
	font-family: "med";
}
.title-detail p:last-child b{
	font-family: "bold";
	font-size: 70px;
	display: block;
	line-height: 0.75em;
}
.title-detail p:last-child b small{
  font-size: 0.4em;
  padding-left: 5px;
}
.box-btn{
	margin-top: 20px;
	text-align: center;
}
.box-btn p{
	font-size: 0.9em;
	font-family: "bold";
	color: #0089cf;
}
.box-btn ul{
	margin-bottom: 10px;
}
.box-btn li{
	font-size: 0.85em;
	display: inline-block;
}
.box-btn a{
	background: #919aac;
}
.box-btn .btn-register{  
	background: #e02122;
}

@media screen and (max-width: 1440px) {
	.page-home .center > img {
		width: 650px;
		margin: 0 auto -9%;
	}
	.title-detail p:first-child {
		font-size: 0.85em;
		line-height: 1em;
	}
	.title-detail p:last-child b {
		font-family: "bold";
		font-size: 60px;
		display: block;
		line-height: 0.7em;
	}
	.title-detail p:last-child {
	    line-height: 0.9em;
	}
}

@media screen and (max-width: 1370px) {
	.page-home .center {
	    width: 740px;
	}
	.page-home .center > img {
	    width: 600px;
	}
	.title-txt img {
	    width: 176px;
	}
	.title-txt h1 {
		font-size: 58px;
	    margin-top: 0.2em;
	}
	.title-txt h2{
		font-size: 30px;
		padding-right: 30%;
	}
	.title-txt p {
	    margin-top: 0;
	    line-height: 1.2em;
	    font-size: 1em;
	}
	.title-txt p span {
	    font-size: 40px;
	}
}

@media screen and (max-width: 970px) {
	.page-home .center {
	    width: 100%;
	    padding: 0 50px;
	}
	.title-detail p:first-child b {
	    display: initial;
	    font-size: 1em;
	}
}

@media screen and (max-width: 970px) and (orientation: portrait){
	.page-home .center > img {
	    width: 100%;
	}
}
@media screen and (max-width: 768px) {
    .title-txt img {
        width: 150px;
    }
}
@media screen and (max-width: 740px) {
    .title-txt h1 {
	    font-size: 2em;
	}
    .title-txt h2 {
	    font-size: 26px;
    	padding-right: 0;
	}
	.page-home .center {
	    padding: 0 40px;
	}
	.page-home{
        background: url(../img/bg-mobile.jpg) center;
        background-size: cover;
    }
    .title-detail p:first-child {
	    width: 70%;
	}
	.title-detail p:last-child {
	    width: 30%;
	}
	.box-btn ul {
	    margin-bottom: 20px;
	    line-height: 0.8em;
	}
}
@media screen and (max-width: 740px) and (orientation: landscape) {
   .page-home{
		height: auto;
	}
	.page-home .center {
	    max-width: 660px;
		margin: 0 auto;
	    position: relative;
	    top: 0;
	    left: 0;
	    transform: translate(0,0);
	    -webkit-transform: translate(0,0);
	    -moz-transform: translate(0,0);
	    -ms-transform: translate(0,0);
	}
	.page-home .center > img {
		width: 70%;
	    margin: 50px auto -5%;
	}
}
@media screen and (max-width: 568px) {	
	.title-detail p:last-child b {
		font-size: 42px;
	}
	.title-txt p {
	    line-height: 1em;
	}
	.title-txt p span {
	    font-size: 1.5em;
	    margin-top: 5px;
	}
	.title-txt img {
		display: block;
		float: none;
	    width: 100px;
	    margin: 10px auto 15px;
	}
	.title-txt h2 {
	    font-size: 1.15em;
	    padding-right: 0;
	}
	.title-detail p:first-child {
	    font-size: 0.8em;
	    text-align: left;
	}
	.title-detail p:last-child{
		text-align: right;
	}
	.page-home .center {
	    padding: 0 30px;
		text-align: center;
	    position: relative;
	    top: 0;
	    transform: translate(0,0);
	    -webkit-transform: translate(0,0);
	    -moz-transform: translate(0,0);
	    -ms-transform: translate(0,0);
	    left: 0;
	}
}
@media screen and (max-width: 480px) {
	.page-home{
		height: auto;
	}
	.page-home .center > img {
	    margin: 50px auto -9%;
	}
	.title-txt img {
		display: block;
		float: none;
	    width: 100px;
	    margin: 10px auto 15px;
	}
	.title-txt h2 {
	    font-size: 1.15em;
	    padding-right: 0;
	}
	.title-detail p:first-child {
	    font-size: 0.9em;
	    padding: 0 10px;
	    width: 100%;
	    margin-bottom: 15px;
	    text-align: center;
	}
	.title-detail p:last-child{
		width: 100%;
		text-align: center;
	}
	.title-detail p:last-child b {
	    font-size: 40px;
		line-height: 0.9em;
	}
	.title-detail p:last-child b small {
		font-size: 0.7em;
	}
}
@media screen and (max-width: 420px) {
	.page-home .center{
		padding: 0 20px;
	}
	.page-home .center > img {
	    width: 90%;
	}
	.title-txt img {
	    width: 90px;
	    margin: 5px auto 10px;
	}
	.title-txt h1 {
	    font-size: 1.5em;
	}
	.title-txt p {
		font-size: 0.95em;
	    line-height: 0.8em;
	    padding: 5px 0 0;
	}
	.box-btn {
	    margin-top: 15px;
	}
	.title-detail p:first-child {
		padding: 0;
	    margin-bottom: 10px;
	}
}
@media screen and (max-width: 380px) {
	.box-btn .btn-register {
	    margin-bottom: 10px;
	}
}
@media screen and (max-width: 360px) {
	.title-txt p span {
	    line-height: 0.9em;
	}
	.title-txt h2 br,
	.title-txt p span br,
	.box-btn li br{
		display:block;
	}
}
