@media (max-width: 1600px) {
    .page-landing {
        background-size: auto;
    }
}
@media screen and (max-width: 1440px) {
    [class^="btn-"], [class*=" btn-"],
    input[type="submit"],
    input[type="button"], .box-btn a {
        width: 160px;
        font-size: 22px;
    }
    .btn-fb{
        width: 250px;
    }
}
@media screen and (max-width: 1024px) {
    .container{
        padding-left: 50px;
        padding-right: 50px;
    }
    .nav-member li > a, .nav-member li.box-login span {
        padding: 0 15px;
    }
    .header{
        overflow: hidden;
        padding: 10px 0;
        height: 50px;
    }
    .header .logo {
        float: right;
        margin: 0;
        padding: 3px 0;
    }
    .header .container {
        padding: 0 15px;
    }
    .toggle{
        display: block;
    }
    .header .nav-member {
        position: relative;
        top: 0;
        right: 0;
        margin: 20px auto;
        display: block;
        width: 100%;
        text-align: center;
    }
    .header .logo + nav {
        float: left;
        width: 100%;
        margin: 10em 0 2em;
    }
    .header .logo + nav li{
        padding: 15px 0;
        text-align: center;
        display: block;
        width: 100%;
    }
    .header .logo + nav li a{
        font-size: 28px;
        font-family: "bold";
    }
    .nav-member li.box-login {
        padding-right: 15px;
    }
}
@media screen and (max-width: 770px) {    
    .page-landing {
        background: #e4e6ec url(../img/bg-mobile.jpg) no-repeat center top / 100%;
    }
    .page-landing-blur:before{
        display: none;
    }
    .logo-tripetch {
        bottom: 15px;
    }
    .page-landing main .container {
        padding-top: 90px;
    }
    .container {
        padding-left: 30px;
        padding-right: 30px;    
    }
    .popup .btn-close, .btn-close {
        width: 30px !important;
        height: 30px;
        top: -3px;
        right: -3px;
    }
    .logo-tripetch {
        bottom: 15px;
        left: 50%;
        margin-left: -79px;
        right: inherit;
    }
}
@media screen and (max-width: 600px) {
    .header .logo + nav {
        margin: 6em 0 2em;
    }
    .page-landing main .container{
        padding-top: 90px;
    }
}
@media screen and (max-width: 568px) {
    .container {
        padding-left: 25px;
        padding-right: 25px;
    }
    .header .container {
        padding: 0 20px 0 17px;
    }
    .popup {
        width: calc(100% - 30px);
        max-height: calc(100vh - 30px);
    }
    .popup strong {
        font-size: 24px;
    }
    .popup label input[type="email"], 
    .popup label input[type="text"], 
    .popup label input[type="tel"] {
        line-height: 34px;
    }
    .popup label {
        margin-bottom: 5px;
    }
    .popup .label-checkbox input[type="checkbox"] + span {
        width: 16px;
        height: 16px;
        margin-right: 2px;
    }
    .popup .label-checkbox p,
    .popup .remark {
        font-size: 18px;
        line-height: 1em;
    }
    .btn-fb{
        width: 100%;
    }
}
@media screen and (max-width: 380px) {
    .header .logo + nav {
        margin: 4em 0 2em;
    }
    .popup .label-checkbox p,
    .popup .remark {
        font-size: 16px;
    }
}
@media (max-width: 360px) {
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media screen and (max-width: 320px) {
    .header .logo + nav {
        margin: 3.4em 0 2em;
    }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
    .header .logo + nav {
        margin: 6em 0 0;
    } 
}
@media screen and (max-width: 740px) and (orientation: landscape) {
    .header .logo + nav {
        margin: 10px 0 0;
    } 
    .header .logo + nav li {
        padding: 10px 0;
    }   
}
@media screen and (max-width: 640px) and (orientation: landscape) {
     .header .logo + nav li {
        padding: 5px 0;
    }   
}
@media screen and (max-width: 568px) and (orientation: landscape) {
    .header .logo + nav li a {
        font-size: 24px;
        font-family: "med";
    }
    .header .logo + nav li {
        padding: 3px 0;
    } 
    .header .logo + nav {
        margin-top: 15px;
    } 
}