.inner-content-wrapper {
    padding: 68px 15px;
    background: #e4e6ec url(../img/rules/bg.jpg) no-repeat center top / 100%;
    min-height: 100%;
}



/*
Header Text
*/

.header-rules {
    text-align: center;
    margin-top: 20px;
}

.header-rules h1 {
    margin: 47px 0 11px;
    color: #ed1c24;
}

.header-rules .h1, .header-rules .h2 {
    font-size: 48px;
    font-family: 'bold';
}

.header-rules .h2 {
    font-size: 30px;
}

.header-rules p {
    margin: 0 0 38px;
    line-height: 1.2;
}
.header-rules p > span {
    display: block;
}
.header-rules p .h1 {
    line-height: 1em;
}
.header-rules br{
    display: none;
}
.header-rules b{
    color: #e02122;
}

/* small */

.header-rules__small .h1 {
    font-size: 36px;
    font-family: 'med';
    margin: 0 0 30px;
}


/*
Rewards
*/

.rules-container {
    background: #fefefe;
    box-shadow: 0 0 29px rgba(159, 165, 178, .9);
    margin-bottom: 40px;
    overflow: hidden;
    padding: 0 15px 25px;
}


/* header */

.rewards-header {
    text-align: center;
    margin: 27px 0 26px;
}

.rewards-header h1 {
    font-size: 36px;
    font-family: 'bold';
    color: #216fb7;
}
.rewards-header h1 b{
    font-family: "bold";
}
.rewards-header span {
    font-size: 24px;
    font-family: 'regular';
    color: #000;
    margin: -3px 0 0;
    display: block;
}


/* list */

.rewards-list {
    text-align: center;
    display: flex;
    justify-content: center;
}

.rewards-list li {
    flex: 1 1 auto;
    width: 25%;
}

.rules-container+.rules-container .rewards-list li {
    flex-grow: 0;
    padding-left: 60px;
    padding-right: 60px;
}


/* item */

.rewards-item {
    text-align: left;
    padding: 0 15px 17px;
}

.rewards-item .thumb {
    margin: 0 0 9px;
}

.rewards-item h2 {
    font-size: 24px;
    font-family: 'bold';
    line-height: 1;
    color: #ed1c24;
    margin: 0 12px -3px;
}

.rewards-item p {
    font-size: 22px;
    color: #000;
    line-height: .9;
    font-family: 'bold';
    margin: 0 12px;
}

.rewards-item p span {
    font-size: 20px;
    display: block;
    font-family: 'regular';
}




/*
List
*/

.rules-list {
    padding: 0 60px;
    font-size: 22px;
    line-height: 1.2;
}

.rules-list h1 {
    font-size: 26px;
    line-height: 1;
    font-family: 'med';
    text-align: center;
    margin: 27px 0;
}

.rules-list strong {
    color: #216fb7;
    font-family: 'bold';
}

.rules-list li {
    margin: 0 0 23px;
}

.rules-list dl, .rules-list dd, .rules-list li li {
    margin: 0 0 0 35px;
}

.rules-list ol ol {
    text-indent: -25px;
}

.rules-list ol ol li li {
    margin: 0 0 0 20px;
    text-indent: 0;
}

.rules-list a, .rules-list li li strong {
    color: #000;
    font-family: 'med';
}
.rules-list li li strong{
    padding-right: 10px;
}
.rules-list a {
    color: #000;
}

.rules-list a:hover {
    text-decoration: underline;
}
.reward{
    margin-top: -3em;
}
.reward .thumb{
    height: 0;
    padding-bottom: 100%;
    position: relative;
}
.rules-container+.rules-container
.reward.rewards-list li{
    width: 33.33%;
    padding-right: 30px;
}
.reward .thumb img{
    width: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    transform: translate(-50%,0);
}

@media (max-width: 1020px) {
    .rewards-item_ft {
        margin-top: -35px;
    }
}
@media (max-width: 769px) {
    .rewards-item {
        text-align: center;
        padding: 0 30px 60px;
    }
    .rewards-item_ft {
        margin-top: 0;
    }
    .rules-list {
        padding: 0;
    }
    .rules-list dl, .rules-list dd, .rules-list li li {
        margin: 0 0 0 15px;
    }
    .rules-list ol ol li li {
        margin: 0;
    }
    .rules-container br {
        display: none;
    }
    .rewards-list {
        flex-wrap: wrap;
    }
    .rewards-list li {
        flex-basis: 50%;
    }
    .header-rules br,.header-rules b{
        display: block;
    }
    .rules-container+.rules-container
    .reward.rewards-list li {
        padding-right: 60px;
    }
    .reward {
        margin-top: -1em;
    }
    .rules-container {
        padding: 0 45px 35px;
    }
}

@media (max-width: 640px) {
    .rules-container+.rules-container
    .reward.rewards-list li ,
    .rules-container+.rules-container .rewards-list li {
        padding-left: 20px;
        padding-right: 20px;
    }
    .rewards-item .thumb{
        padding: 0 20px; 
        height: auto;
    }
    .reward .thumb img{
        position: relative;
        bottom: initial;
        left: initial;
        -webkit-transform: translate(0,0);
        -moz-transform: translate(0,0);
        -ms-transform: translate(0,0);
        transform: translate(0,0);
    }
    .reward {
        margin-top: 0;
    }
}


@media (max-width: 481px) {
    .rewards-list li {
        flex-basis: 100%;
    }
}
@media (max-width: 480px) {
    .header-rules p .h1 {
        line-height: 0.8em;
        font-size: 40px;
        margin-top: 10px;
    }
    .rules-list dl, .rules-list dd, .rules-list li li {
        margin: 0 0 0 3px;
    }
    .header-rules p span{
        line-height: 1em;
        display: block;
    }
    .header-rules p .h2{
        margin-top: 10px;
    }

    .rewards-header h1 b{
        font-size: 0.8em;
        display: block;
    }
    .rewards-item .thumb{
        padding: 0;
    }
}
@media (max-width: 420px) {
    .header-rules p .h2 {
        font-size: 24px;
    }
    .header-rules b,
    .rewards-header h1{
        font-size: 32px;
    }
}

@media (max-width: 360px) {
    .header-rules p .h1 {
        font-size: 36px;
    }
    .header-rules p .h2 {
        font-size: 22px;
    }
    .header-rules b {
        font-size: 30px;
    }
    .rules-container {
        padding: 0 35px 25px;
    }
}