/* upload */
.box-photo{
    width: 720px;
    margin: 15px auto;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.box-photo form{
    position: relative;
}
#uploadIMG{
    display: none;
}
#uploadIMG + label{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}
#uploadIMG + label p{
    border-radius: 20px;
    background: #aab1c1;
    color: #fff;
    padding: 0 25px;
    height: 36px;
    line-height: 36px;
    display: block;
    width: 180px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    margin-top: -18px;
    margin-left: -90px;
}
.box-img{
    width: 700px;
    height: 466px;
    background: url(../img/upload/bg-upload.jpg) center;
    background-size: cover;
    position: relative;
    -webkit-transition: height 0.4s ease-out;
    -moz-transition: height 0.4s ease-out;
    -o-transition: height 0.4s ease-out;
    -ms-transition: height 0.4s ease-out;
    transition: height 0.4s ease-out;
}
.box-img.show{
    background: #fff;
}
.box-img img{
    display: none;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.tool-upload{
    width: 720px;  
    position: relative;
    -webkit-transition: width 0s ease-out 0.5s;
    -moz-transition: width 0s ease-out 0.5s;
    -o-transition: width 0s ease-out 0.3s;
    -ms-transition: width 0s ease-out 0.5s;
    transition: width 0s ease-out 0.5s;
    margin: 25px auto 0;
}
.btn-next{
    z-index: 2;
    position: relative;
    background: #e02122;
    float: right;
}
.btn-next:after{
    content: "\e904";
    font-family: 'icomoon';
    margin-left: -15px;
    display: block;
    float: right;
}
.tool-upload a{
    color: #000;
    font-family: "med";
    margin-top: 10px;
    position: relative;
    z-index: 2;
    display: inline-block;
}
.tool-upload p{
    position: absolute;
    font-size: 0.8em;
    text-align: center;
    width: 100%;
    top: 10px;
    line-height: 1em;
}
.tool-upload #control-preview p{
    margin-top: -0.4em;
}
#control-upload ul{
    margin-top: 30px;
    padding-top: 15px;
    float: left;
    font-size: 0.8em;
    border-top: 1px solid #ccc;
}
#control-upload ul li{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    color: #333;
}
#control-upload ul li:before{
    content: "•";
    display: inline-block;
    margin-right: 5px;
    font-size: 1.2em;
}
.box-caption #uploadIMG,
.box-caption #uploadIMG + label,
#control-caption{
    display: none;
}
.box-caption + .tool-upload{
    width: 980px;
}
.box-photo.box-caption{
    width: 980px;
    padding: 25px;
}
.box-text{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 440px;
}
.box-caption .box-img{
    width: 660px;
    height: 440px;
}
.dt-caption{
    width: 100%;
    padding: 40px 0;
    position: absolute;
    top: 46%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transition: height 0.4s ease-out;
    -moz-transition: height 0.4s ease-out;
    -o-transition: height 0.4s ease-out;
    -ms-transition: height 0.4s ease-out;
    transition: height 0.4s ease-out;
}
.dt-caption:before,
.dt-caption:after{
    color: #ced6e3;
    height: 50px;
    line-height: 90px;
    font-size: 130px;
    font-family: "bold";
    display: block;
    z-index: 1;
    position: absolute;
    left: 0;
    overflow: hidden;
}
.dt-caption:before{
    top: 0;
    content: '“';
}
.dt-caption:after{
    bottom: 0;
    content: '”';
}
.dt-caption textarea{
    width: 100%;
    line-height: 45px;
    height: 315px;
    padding: 0;
    font-family: "med";
    background: url(../img/upload/bg-textarea.jpg) repeat top left;
}
.dt-caption textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ced6e3;
}
.dt-caption textarea::-moz-placeholder { /* Firefox 19+ */
    color: #ced6e3;
}
.dt-caption textarea:-ms-input-placeholder { /* IE 10+ */
    color: #ced6e3;
}
.dt-caption textarea:-moz-placeholder { /* Firefox 18- */
    color: #ced6e3;
}
.dt-caption p,
#control-preview{
    display: none;
}
.box-preview .dt-caption p{
    padding: 20px 0;
    font-family: "med";
    line-height: 1em;
    word-wrap: break-word;
}
.box-text > p{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #555;
    font-family: "med";
    font-size: 20px;
    line-height: 1em;
    z-index: 0;
}
.box-text > p span{
    display: block;
    font-size: 24px;
    color: #000;
}

@media screen and (max-width: 1370px) {
    .box-photo{
        width: 520px;
    }
    .box-img {
        width: 500px;
        height: 333px;
    }
    .tool-upload{
        width: 500px;
    }
    .box-caption + .tool-upload{
        width: 730px;
    }
    #control-upload ul {
        margin-top: 20px;
        padding-top: 10px;
    }
    .box-photo.box-caption{
        width: 730px;
        padding: 20px;
    }
    .box-caption .box-img {
        width: 450px;
        height: 300px;
    }
    .box-text{
        width: 220px;
        height: 300px;
    }
    .dt-caption{
        top: 42%;
    }
    .dt-caption textarea {
        width: 100%;
        line-height: 30px;
        background: url(../img/upload/bg-textarea-s.jpg) top left;
        font-size: 20px;
        height: 151px;
    }
    .dt-caption:before, .dt-caption:after {
        font-size: 110px;
        line-height: 78px;
    }
    .tool-upload p {
        line-height: 1em;
        padding-right: 100px;
    }
}

@media screen and (max-width: 740px) {
    .tool-upload, .box-caption + .tool-upload{
        width: 100%;
    } 
    .box-photo,
    .box-photo.box-caption{
        width: 90%;
    }
    .box-img, .box-caption .box-img{
        width: 100%;
        height: 0;
        padding-bottom: 66%;
    }
    .box-text {
        width: 100%;
        height: auto;
        position: relative;
    }
    .dt-caption textarea{
        height: 90px;
    }
    .dt-caption {
        top: 0;
        left: 0;
        position: relative;
        -webkit-transform: translate(0,0);
        -moz-transform: translate(0,0);
        -ms-transform: translate(0,0);
        transform: translate(0,0);
    }
    .box-text > p{
        position: relative;
    }
    .tool-upload p{
        position: relative;
        width: 100%;
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }
    .box-text{
        border-top: 1px dashed #eee;
        margin-top: 20px;
    }
}

@media screen and (max-width: 568px) {
    .dt-caption textarea {
        height: 120px;
    }
    .box-photo, .box-photo.box-caption {
        width: 100%;
        padding: 10px;
    }
    #control-upload ul {
        font-size: 0.7em;
        line-height: 1em;
    }
    .dt-caption {
        padding: 40px 10px;
    }
    .dt-caption:before, .dt-caption:after {
        left: 7px;
    }
}

@media screen and (max-width: 740px) and (orientation: landscape) {
    .box-photo,
    .box-photo.box-caption{
        width: 70%;
    }
}